<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties">
    </properties>

    <settings>
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 将积极加载改为消极加载  按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--启动二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>


    <!--environments 环境其实就是连接数据库的信息-->
    <environments default="development">
        <environment id="development">
            <!--
            transactionManager 表示事务管理器
            type属性指定使用哪个事物管理器
            JDBC            有事务管理,有提交和有回滚
            MANAGED         事务交给容器管理,没提交,也回滚
            -->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <package name="com.atguigu.mapper"></package>
    </mappers>
</configuration>